<!DOCTYPE html>
<html>
	<style>
		div {
			padding-left: 10px;
		}		

		table, th, td {
			border: 1px solid red;
			border-collapse: collapse;
			color: ;
			padding: 10px;
		}

		#image01 {
			padding-top: 10px;
		}

		h1 {
			font-size: 40px;
			font-family: 'Times New Roman', Times, serif;
		}
	</style>
	<div>
		<h1>
			My profile
		</h1>
		<p>
			Hello, Let me introduce my self.
		</p>
		<table>
			<tr>
				<th>Head</th>
				<th>Details</th>
			</tr>
			<tr>
				<td>Name</td>
				<td>Phakin Buddha</td>
			</tr>
				<td>Nickname</td>
				<td>Shutter</td>
			</tr>
			<tr>
				<td>Age</td>
				<td>20</td>
			</tr>
			<tr>
				<td>Student ID</td>
				<td>6331335921</td>
			</tr>
		</table>
		<img src="./my_image.jpg" alt="This is me." width="800" height="500" id="image01">
	</div>
</html>